:root{
  --red: #E50914;
  --black: #141414;

  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.container {
  margin: 0px 2rem;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--red);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

header nav a {
  text-decoration: none;
  color: #AAA;
  font-size: 1rem;
  transition: color 200ms ease all;
}

header nav a:not(:last-child){
  margin-right: .5rem;
}

header nav a:hover {
  color: #fff;
}

.main-movie {
  font-size: 1rem;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.65)), url('../img/breaking-bad.jpg');
  
  height: 500px;
  background-size: cover;
  background-position: top;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-movie .container {
  max-width: 550px;
  width: 60%;
}

.main-movie .title {
  margin-top: 100px;
  font-size: 2rem;
  text-shadow: 0 3px 6px black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: .5rem;
}

.main-movie .description {
  margin-bottom: 2rem;
  text-align: justify;
}

.main-movie .button {
  background-color: rgba(0,0,0,.5);
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  transition: all 200ms ease all;
}

.main-movie .button:not(:last-child){
  margin-right: .5rem;
}

.main-movie .button:hover {
  background-color: white;
  color: var(--black)
}

.main-movie .button i {
  margin-right: .5rem;
}

.carousel {
  margin-top: .5rem;
  font-size: .9rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #CCC;
}

.carousel .title {
  margin-bottom: 5px;
}

.box-movie {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 350px){
  .main-movie .button:not(:last-child) {
    margin-bottom: .5rem;
  }
}

@media screen and (max-width: 620px){
  :root{
    font-size: 16px;
  }

  .container {
    margin: 0 1rem;
  }

  header .container{
    flex-direction: column;
    margin-bottom: 10px;
  }

  .main-movie .container {
    width: 80%;
  }
}